<html>
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{arsti.nimi}">arsti.nimi</p></td>
            <td>
                <select th:field="*{dentistName}">
                    <option value="Mari Mai">Mari Mai</option>
                    <option value="Jüri Saar">Jüri Saar</option>
                    <option value="Miia Meri">Miia Meri</option>
                    <option value="Juhan Juuli">Juhan Juuli</option>
                </select></td>
        </tr>
         <tr>
            <td><p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</td>
        </tr>

        <tr>
            <td><p th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Nime viga</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{registreeri.visiidile}"></button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>